# MLflow & Hydra
mlruns/
mlflow_runs/
outputs/
.hydra/
mlflow.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data & Models
data/*
!data/.gitkeep
models/*.joblib
models/*.pkl

# OS
.DS_Store

.vscode/